body {  
  background: linear-gradient(90deg, rgba(56,53,50,1) 13%, rgba(171,166,149,1) 42%, rgba(24,24,23,1) 87%);
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: rgb(241, 216, 168);
  text-decoration: underline;
}

canvas {
  border-radius: 6px;
  border: 3px solid;
  width: 550px;
}

